{% extends "base.html" %}

{% block content %}
<style>
    .room-container {
        display: grid;
        grid-template-columns: 1fr 3fr;
    }

    .room-list {
        text-align: center;
    }

    .room-actions {
        padding-left: 20px;
    }
</style>

<h1 style="text-align: center">Django Discourse</h1>
<p style="text-align: center; padding: 10px 20px">
    Welcome to DjangoDiscourse, where chat meets innovation and collaboration!
    Dive into a world where discussions come alive, playfulness merges with
    learning, and connections flourish. Join us on a journey where every
    conversation is an opportunity to explore, share, and grow. DjangoDiscourse —
    more than just chat, it's a space to play, connect, and expand your horizons.
</p>

<h2 style="text-align: center">List of Rooms</h2>
<a href="{% url 'create-room' %}" style="margin: 20px; border: 1px solid brown; padding: 10px; border-radius: 8px;" target="_blank">Create Room</a>

<hr/>

<div class="room-container">
    <div class="room-actions">
        <h2>Browse Topic</h2>
        <ul>
            <div>
            <a href="{% url 'home' %}"><li>All</li></a>
            </div>
            {% for topic in topics %}
            <a href="{% url 'home' %}?q={{topic}}"><li>{{topic}}</li></a>
            {% endfor %}
        </ul>
    </div>

    <div class="room-list" style="transform: translateX(-160px);">
        <h5></h5><b>{{room_count}}</b> Rooms are Available</h5>
        <hr style="width: 100px;background-color: brown;">
        {% for room in rooms %}
            <div style="list-style: none; font-size: 20px">
                <a href="{% url 'update-room' room.id %}" target="_blank">Edit</a> |
                <a href="{% url 'delete-room' room.id %}" target="_blank">Delete</a>
                <a href="{% url 'room' room.id %}" target="_blank">
                    <li>{{ room.name }}</li>
                </a>
                <small>Created by: {{ room.host }}</small>
                <hr style="width: 200px;">
            </div>
        {% endfor %}
    </div>
</div>

{% endblock %}
